.botao{
  background-color: #900017;
  color: #000;
  width
}

.imagem{
  width: 640px;
  height: 100px;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px
}
.quadroCelular{
  width: 768px;
}

.quadroTexto{
  margin-top: 10px;
  width: 550px;
  height: 100px;
  margin-left: 30px;
}

.quadroBotao{
  text-align: center
}

.quadroBotao a button:hover{
  background-color: #900017;
  color: #000;
}

.quadroBotao a button:active{
  background-color: #900017;
  color: #000;
}
